<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>YouDoYou</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>youdoyou</string>
          <string>com.yourcompany.youdoyou</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+youdoyou</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>YouDoYou needs camera access to record videos and take photos for your practices.</string>
    <key>NSContactsUsageDescription</key>
    <string>Allow YouDoYou to access your contacts to find friends who are already using the app.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>YouDoYou uses Face ID to securely authenticate you.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>YouDoYou needs microphone access to record audio for your practices.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>YouDoYou needs photo library access to save and manage your practice media.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>YouDoYou needs speech recognition to transcribe your audio practices.</string>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>background-processing</string>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>App-Icon-1024x1024</string>
        </array>
      </dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>icon-light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-light</string>
          </array>
        </dict>
        <key>icon-dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-dark</string>
          </array>
        </dict>
        <key>icon-system</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-system</string>
          </array>
        </dict>
        <key>icon-peace</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-peace</string>
          </array>
        </dict>
        <key>icon-stump</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-stump</string>
          </array>
        </dict>
        <key>icon-wisdom</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-wisdom</string>
          </array>
        </dict>
        <key>icon-spotlight</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-spotlight</string>
          </array>
        </dict>
        <key>icon-frost</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-frost</string>
          </array>
        </dict>
        <key>icon-rose</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-rose</string>
          </array>
        </dict>
        <key>icon-mint</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-mint</string>
          </array>
        </dict>
        <key>icon-canyon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-canyon</string>
          </array>
        </dict>
        <key>icon-denim</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-denim</string>
          </array>
        </dict>
        <key>icon-love</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-love</string>
          </array>
        </dict>
        <key>icon-land</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-land</string>
          </array>
        </dict>
        <key>icon-earth</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-earth</string>
          </array>
        </dict>
        <key>icon-sunset</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-sunset</string>
          </array>
        </dict>
        <key>icon-ocean</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-ocean</string>
          </array>
        </dict>
        <key>icon-noir</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-noir</string>
          </array>
        </dict>
        <key>icon-affection</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-affection</string>
          </array>
        </dict>
        <key>icon-warm</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-warm</string>
          </array>
        </dict>
        <key>icon-golden</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-golden</string>
          </array>
        </dict>
        <key>icon-grounded</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-grounded</string>
          </array>
        </dict>
        <key>icon-flow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-flow</string>
          </array>
        </dict>
        <key>icon-mystery</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-mystery</string>
          </array>
        </dict>
        <key>icon-youdoyou</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-youdoyou</string>
          </array>
        </dict>
        <key>icon-blossom</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-blossom</string>
          </array>
        </dict>
        <key>icon-bliss</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-bliss</string>
          </array>
        </dict>
        <key>icon-cool</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-cool</string>
          </array>
        </dict>
        <key>icon-cycle</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-cycle</string>
          </array>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>